/* Shared or, Common styles for all pages */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.primary-text {
    color: #c3052e;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

/* header styles goes here.. */

/* Styles for Navigation Bar starts here*/
.navbar {
    background-color: black;
    /* #e78da0; */
    /* lightgray; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.nav-title {
    color: white;
    /* #181818; */
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    /* #474747; */
    font-size: 20px;
    font-weight: 600;
}

nav a:hover {
    color: #E55473;
}

/* Styles for Navigation Bar ends here*/

/* Styles for Hero, some Offer, some contact Section starts here*/
.hero {
    height: 100vh;
    margin-top: 0;
    background: rgba(229, 84, 115, 0.10);
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 0px;
}

.hero-description {
    font-size: 20px;
    color: #474747;
    margin-bottom: 20px;
}

.hero-content a,
.offer-content a,
.contact a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #E55473;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E55473;
    color: white;
}

.hero-content a:hover,
.offer-content a:hover,
.contact a:hover {
    color: #E55473;
    background-color: white;
}

.hero-content .hero-image {
    padding: 0px;
    width: 50%;
}

/* Styles for Hero Section ends here*/

/* Styles for Feature Section starts here*/
.features {
    padding: 100px 0px;
}

.features-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features {
    text-align: center;
}

#feature-a {
    width: 300px;
    height: 464px;
    padding: 50px 50px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#feature-b {
    width: 300px;
    height: 464px;
    padding: 50px 50px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#feature-c {
    width: 300px;
    height: 464px;
    padding: 50px 30px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.feature-title {
    font-size: 18px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 10px;
    text-decoration: underline;
}

/* Styles for Feature Section ends here*/

/* Styles for Offer Section starts here*/
.offers {
    height: 620px;
    margin-top: 0;
    background: rgba(229, 84, 115, 0.10);
}

.offer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.offer-content h2 {
    font-size: 54px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 0px;
}

.offer-description {
    font-size: 18px;
    color: #474747;
    margin-bottom: 50px;
}

.offer-content .offer-image {
    padding: 50px;
    width: 30%;
}

/* Styles for Offer Section ends here*/

/* Styles for Social Media Section starts here*/
.socials-media {
    padding: 100px 0px;
}

.social-media-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media .social-media-image {
    width: 250px;
    height: 300px;
    padding: 50px 15px 50px;
}

/* Styles for Social Media Section ends here*/

/* Styles for Contact Section starts here*/
.contact {
    background-image: url("../Assets/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 100%;
    margin-bottom: 150px;
}

.contact-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
}

.contact input {
    width: 35%;
    padding: 10px 20px;
    margin: 20px 20px 20px 0px;
    border: 2px solid white;
    border-radius: 5px;
}
/* Styles for Contact Section ends here*/

/* Styles for Footer Section starts here*/
footer {
    color: white;
    background-color: black;
    padding: 100px 80px;
    text-align: center;
}

footer h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: rgba(229, 84, 115, 0.6);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
}

footer a:hover {
    color: white;
}

.footer-copy {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #757575;
}
/* Styles for Footer Section ends here*/





